@{
ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("ValidateCommand", "PayPal"))
{
    <div>
        <table>
            <tr>
                <td>
                    Item:
                </td>
                <td>
                    <input type="text" name="product" value="Test Item" readonly />
                </td>
            </tr>
            <tr>
                <td>
                    Price:
                </td>
                <td>
                    Php <input type="text" name="totalPrice" value="9999.99" readonly />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="btnConfirm" value="Pay with PayPal" />
                </td>
            </tr>
        </table>
    </div>
}