<h2>@ViewBag.Message</h2>

@using (Html.BeginForm("PostToPaypal", "Home"))
{
    <div>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    Item:
                </td>
                <td>
                    <input type="text" name="item" value="Test Item" readonly />
                </td>
            </tr>

            <tr>
                <td>
                    Price:
                </td>
                <td>
                    <input type="text" name="amount" value="9999.99" readonly />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" name="btnsubmit" value="Pay using Paypal" />
                </td>
            </tr>
        </table>
    </div>
}